<div  id="center">

    <h2>Modifier un sponsor</h2>

</div>

<form action="/sponsors/modifier/modif/{{num}}" method="post" enctype="multipart/form-data">
    <div class="champs">
        <div class="label">
            <label for="nom">Nom</label>
        </div>

        <input type="text" name="nom" size="20" value="{{sponsor.sponom}}">
    </div>
    <div class="champs">
        <div class="label">
            <label for="activite">Secteur d'activite</label>
        </div>
        <input type="text" name="activite" size="20" style="margin-right: 3px" value="{{sponsor.sposectactivite}}">
    </div>
    <div class="champs">
        <div class="label">
            <label for="ecurie">Ecurie sponsorisee</label>
        </div>
        <select name="ecurie">
            {{#if sponsor.ecunum}}
                <option value="{{sponsor.ecunum}}">{{sponsor.ecunom}}</option>
            {{/if}}
            <option value="NULL">Aucune</option>
            {{#each listeEcuries}}
                <option value="{{this.ecunum}}">{{this.ecunom}}</option>
            {{/each}}
        </select>
    </div>


    <div id="add_form_button">
        <button type="submit">MODIFIER</button>
    </div>

</form>
<br class="myboth" />
